.txt-secondary {
  color: #3E4685;
}

.txt-primary {
  color: #f76969;
}

.bg-secondary {
  background: #3E4685;
}

.bg-primary {
  background: #f76969;
}

.footer-bg {
  background: url("../images/footer-bg.png");
  background-size: 100% 100%;
}

html {
  overflow-x: hidden;
}

.section-title {
  margin-left: 15px;
  position: relative;
  font-family: "poppins-bold";
}
.section-title:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 4px;
  background-color: #f76969;
  bottom: -10px;
  left: 0;
}

.card-style {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1019607843);
}
.card-style .content {
  padding: 5px 20px 25px 20px;
  background: #fff;
  font-family: "poppins-Light";
}
.card-style .content .title {
  font-size: 18px;
  margin: 12px 0 7px;
  color: #3E4685;
  text-transform: capitalize;
  font-family: "poppins-medium";
}
.card-style .content p {
  font-size: 15px;
}
.card-style .content .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-style .content .social a {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  color: #f76969;
  background-color: #3E4685;
}
.card-style .content .social a .iconify {
  font-size: 17px;
}
.card-style .content .social a:hover {
  color: #fff !important;
}

@font-face {
  font-family: "poppins-regular";
  src: url(../fonts/Poppins-Regular.otf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../fonts/Poppins-Medium.otf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(../fonts/Poppins-Bold.otf);
}
@font-face {
  font-family: "poppins-Light";
  src: url(../fonts/Poppins-Light.otf);
}
body {
  overflow-x: hidden;
  font-family: "poppins-regular";
  font-size: 13px;
  background-color: #F2F8FD;
}

.topbar {
  background: #3E4685;
}
.topbar .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.topbar .inner .social-icons {
  flex-basis: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f76969;
  height: 100%;
  color: #3E4685;
  background: #ffd03a;
  margin-right: 2px;
}
.topbar .inner .social-icons:hover {
  background: #ffca20;
}
.topbar .inner .social-icons:hover .iconify {
  color: #fff;
}

@media (max-width: 375px) {
  .siteHeader .navbar-brand img {
    width: 200px;
  }
}
.siteHeader .navCustom .nav-item .nav-link {
  margin-right: 0;
  font-size: 13px;
  color: #3E4685;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: "poppins-regular";
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .siteHeader .navCustom .nav-item .nav-link {
    font-size: 14px;
  }
}
.siteHeader .navCustom .nav-item .nav-link:hover {
  color: #f76969;
}
.siteHeader .navCustom .nav-item .nav-link.active {
  color: #f76969;
}
.siteHeader .navCustom .nav-item .dropdown-item {
  font-size: 13px;
}
.siteHeader .navCustom .nav-item .dropdown-item:hover {
  background-color: #f76969;
  color: #fff;
}
.siteHeader .navCustom .nav-item .dropdown-item.active {
  background-color: #f76969;
  color: #fff;
}

.page-content {
  display: flex;
  flex-direction: column;
}
.page-content .menuBar {
  background-color: #f4f1fd;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.page-content .menuBar .items {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.page-content .menuBar .items a {
  font-size: 12px;
  text-transform: capitalize;
  color: #3E4685;
  text-decoration: none;
}
.page-content .menuBar .items a .iconify {
  font-size: 1.5rem;
  margin-right: 3px;
  color: #3E4685;
}
.page-content .menuBar .items:hover {
  background: #f76969;
}
.page-content .menuBar .items:hover a {
  color: #fff;
}
.page-content .menuBar .items:hover .iconify {
  color: #fff;
}
footer .nav-item a {
  color: lightgray !important;
  text-decoration: none;
}
footer .nav-item a:hover {
  color: white !important;
}

.social {
  display: flex;
  align-items: center;
}
.social a {
  margin: 0 11px 0 0;
  text-decoration: none;
  color: #0d6efd;
}
.social a .iconify {
  font-size: 1.5rem;
}
.social a:hover {
  color: lightgray;
}

.btn-theme {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background: #3E4685;
  padding: 7px 18px;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  font-family: "poppins-medium";
}
.btn-theme:hover {
  background: #3E4685;
  border-color: #f76969;
  color: #f76969;
}

.cookies {
  visibility: hidden;
  position: fixed;
  padding: 20px;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  box-shadow: 2px 2px 19px 6px rgba(0, 0, 0, 0.1607843137);
  border-top: 1px solid rgba(53, 111, 253, 0.1098039216);
}
.cookies .text-muted {
  color: #525252 !important;
  font-size: 14px;
}
.cookies .text-muted .iconify {
  font-size: 3rem;
  float: left;
  color: #1f3ac8;
  margin-right: 12px;
}
.cookies.active {
  visibility: visible;
}
.cookies.close {
  display: none;
}

.contact .form-group {
  margin-bottom: 15px;
}/*# sourceMappingURL=app.css.map */